services:
  web:
    build: . # TODO: for now, we build the image locally. Change this to use a remote image when available.
    image: whatiswrong
    container_name: whatiswrong_web
    depends_on:
      - db
    ports:
      - "8085:3000"
    environment:
      # Database connection
      DB_ADAPTER: postgresql
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: whatiswrong_production
      DB_USERNAME: postgres
      DB_PASSWORD: postgres

    volumes:
      - secrets:/rails/secrets
    restart: unless-stopped

  db:
    image: postgres:18
    container_name: whatiswrong_db
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_DB: whatiswrong_production
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    restart: unless-stopped

volumes:
  postgres_data:
  secrets:
