<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div class="row row-deck g-4">
  <div class="col-md-6">
    <div class="card">
      <div class="card-status-top bg-azure"></div>
      <div class="card-body">
        <h1 class="display-4">
          <%= @message_count %>
        </h1>
        <h2 class="card-title">Messages</h2>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-status-top bg-azure"></div>
      <div class="card-body">
        <h1 class="display-4">
          <%= @app_count %>
        </h1>
        <h2 class="card-title">Apps</h2>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-status-top bg-azure"></div>
      <div class="card-body">
        <div class="position-relative"
             id="graph"
             data-controller="root-graph"
             data-root-graph-target="graph"
             data-root-graph-theme-value="<%= @theme %>"
             data-root-graph-data-value='<%= @graph_data.to_json %>'>
        </div>
      </div>
    </div>
  </div>
</div>
