<h2 class="page-title">Docs</h2>

<div>
  <h3>Example:</h3>
  <pre class="bg-body-tertiary text-body"><code class="language-bash">curl --location --request PUT '<%= @app_url %>/api/v1/message' \
--header 'Content-Type: application/json' \
--data '{
    "key": "<%= @key || 'YOUR_API_KEY' %>",
    "level": "error",
    "message": "MESSAGE_TEST",
    "backtrace": "BACKTRACE_TEST",
    "context": "CONTEXT_TEXT",
    "occurred_at": "2025-12-23T16:12:24+00:00"
}'</code></pre>
</div>