/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
:root {
    margin: 0 !important;
}

html, body {
    height: 100%;
}

.w-max-device-form {
    max-width: 30rem;
}

.toast-out-animation {
    animation: toast-out-right 0.2s ease-in 3s forwards;
}

@keyframes toast-out-right {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        display: none;
        opacity: 0;
        transform: translateX(150%);
    }
}
