/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
:root {
  margin: 0 !important;
}

html,
body {
  height: 100%;
}

.w-max-device-form {
  max-width: 30rem;
}

.toast-out-animation {
  animation: toast-out-right 0.2s ease-in 3s forwards;
}

.dot-azure {
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--tblr-azure);
  border-radius: 50%;
  display: inline-block;
}

@keyframes toast-out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    display: none;
    opacity: 0;
    transform: translateX(150%);
  }
}

.modal-content-custom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1040;
}

.modal-content-custom > .card {
  max-width: 560px;
  width: 95vw;
  max-height: 95vh;
  overflow-y: auto;
}

.modal-background-custom {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1030;
}
