<% if current_user.present? %>
  <div class="bg-primary shadow-lg">
    <div class="flex container mx-auto items-center px-4 py-1">
      <div class="flex-1 flex items-center gap-4">
        <%= link_to "WhatIsWrong", root_path, class: "text-xl text-primary-content font-bold" %>
        <%= link_to "Apps", root_path, class: "text-lg text-primary-content" %>
      </div>
      <div class="flex gap-2">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-8 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                src="https://avatars.githubusercontent.com/u/68729872?v=4&size=64" />
            </div>
          </div>
          <ul
            tabindex="-1"
            class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
            <li>
              <%= link_to "Profile", "#", class: "link" %>
            </li>
            <li>
              <%= button_to "Logout",
                            destroy_user_session_path,
                            method: :delete,
                            class: "link link-error" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>