<% if current_user.present? %>
  <div class="bg-primary shadow-lg">
    <div class="flex container mx-auto items-center px-4 py-1">
      <div class="flex-1">
        <%= link_to root_path, class: "text-xl text-primary-content font-bold" do %>
          WhatIsWrong
        <% end %>
      </div>
      <div class="flex gap-2">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
            <div class="w-8 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                src="https://avatars.githubusercontent.com/u/68729872?v=4&size=64" />
            </div>
          </div>
          <ul
            tabindex="-1"
            class="menu dropdown-content rounded z-1 mt-1 w-50 shadow-lg border-1 border-base-300 bg-base-100 p-2">
            <li>
              <%= link_to "Profile", "#", class: "link" %>
            </li>
            <li>
              <%= button_to "Logout",
                            destroy_user_session_path,
                            method: :delete,
                            class: "link link-error" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>